doctype html
html(lang="fr")
head
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	meta(name="description" content="Qualifications pour la Coupe du Monde de football(Soccer) au Qatar en fin 2022")
	title Qualifications pour la Coupe du Monde de Soccer
body(style="background-color:#e6ffe6;")
	h1 Page d'accueil de la version public du site Web
	if username
		h2="Hi "+username
	p
		a(href='/login') Se connecter
	p
		a(href='/register') Créer un compte
	p
		a(href='/admin') Partie privée admin
	p
		if username
			form(action="/logout?_method=DELETE" method="POST")
				button(type="submit") Log Out
	include menu
	div(class="container text-justify")
		h1( class="text-center") Les qualifications pour la Coupe du Monde de football(soccer)
		br
		br
		h2 Les nations et les qualifications
		p(style="font-size: 1.2rem;") Le soccer est le sport utilisant un ballon le plus pratiqué au monde.
			| La <strong>FIFA</strong> est l'organisation non gouvernementale qui se charge du football à l'échelle planétaire.
			| 211 associations nationales sont affiliées à la FIFA.
			| De ces 211 équipes, 32 seront au <strong>Qatar</strong> en 2022 du lundi 21 novembre 2022 au dimanche 18 décembre 2022.
			| Depuis 1930 (première édition), 8 nations ont déjà remporté le trophée final.
			| Plusieurs pays s'activent lors des qualifications pour participer à cette grande fête du <strong>soccer</strong>.
			| De ces pays, quelques nations prétendent remporter la fameuse coupe.
			| Les qualifications pour participer au tournoi au Qatar se passent dans tous les continents. C'est la raison pour laquelle il une association de soccer dans chaque continent.

		h2 Les associations continentales
		p(style="font-size: 1.2rem;") Les places pour chaque association continentale sont réparties comme suit :
		div(class="row text-center")
			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") AFC (Confédération asiatique de football) 
						a(href="Asie.php")
							img(class="card-img-top" src="./images/AFC_Asian_Qualifiers.png" alt="AFC qualifications zone Asie")
						br
						br
						p(class="card-text") 46 équipes - 4 ou 5 qualifiées (en plus du Qatar)
			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") CAF (Confédération africaine de football)
						a(href="Afrique.php")
							img(class="card-img-top" src="./images/CAF.jpg" alt="CAF qualifications zone Afrique")
						br
						br
						p(class="card-text") 54 équipes - 5 qualifiées



			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") CONCACAF (Amérique du Nord, Amérique centrale et Caraïbes) 
						a(href="Amerique.php")
							img(class="card-img-top" src="./images/CONCACAF.png" alt="CONCACAF")
						br
						br
						p(class="card-text") 35 équipes (avec le Canada) - 3 ou 4 qualifiées



			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") CONMEBOL (Amérique du Sud)
						a(href="Amerique.php")
							img(class="card-img-top" src="./images/CONMEBOL.png" alt="CONMEBOL")
						br
						br
						p(class="card-text") 10 équipes - 4 ou 5 qualifiées



			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") OFC (Confédération océanique de football)
						a(href="https://fr.wikipedia.org/wiki/Conf%C3%A9d%C3%A9ration_du_football_d%27Oc%C3%A9anie")
							img(class="card-img-top" src="./images/OFC.svg" alt="OFC")
						br
						br
						p(class="card-text") 0 ou 1 qualifiée



			div(class="col-sm-6 col-lg-4 mb-3")
				div(class="card mb-3 h-100")
					div(class="card-body")
						h4(class="card-title") UEFA (Union des associations européennes de football)
						a(href="Europe.php")
							img(class="card-img-top" src ="./images/UEFA.jpg" alt="UEFA")
						br
						br
						p(class="card-text") 55 équipes - 13 qualifiées
include footer