include menu

head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Coupe du Monde, qualifications des pays africains')
  style.
  title  Qualifications Africaines 
.container.text-justify
  h1.text-center Les rencontres des qualifications pour la coupe du monde de football en Afrique
  .col-md-12
    a(href='https://en.wikipedia.org/wiki/Confederation_of_African_Football')
      img.pull-left.pull-right.m-5.pb-5(src='./images/CAF.jpg' alt='CAF')
  br
  br
  h2
    | Le soccer en Am&eacute;rique du Nord, appel&eacute; football ailleurs, est un sport qui se pratique dans tous les continents. Tous les pays sont concern&eacute;s par les comp&eacute;titions li&eacute;es &agrave; ce sport. C&rsquo;est pour cela que chaque 
    a(href='https://en.wikipedia.org/wiki/List_of_football_associations_by_date_of_foundation')  f&eacute;d&eacute;ration 
    |  organise ses tournois. Mais les qualifications, comp&eacute;tition pr&eacute;liminaire, sont n&eacute;cessaires pour participer &agrave; la comp&eacute;tition majeure qui est la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup') coupe du monde
    | .
  |   Tout jeune footballeur qui se respecte r&ecirc;ve de gagner une coupe du monde.
  |   La prochaine coupe du monde de 
  strong soccer
  |  aura lieu en novembre-d&eacute;cembre 2022. Aujourd&rsquo;hui 14 novembre 2021 plusieurs pays sont d&eacute;j&agrave; qualifi&eacute;s en 
  a(href='Europe.php') Europe
  |  et en 
  a(href='Amerique.php') Am&eacute;rique latine
  |  : le 
  a(href='https://www.fifa.com/tournaments/mens/worldcup/qatar2022')
    strong Qatar
  |  (pays organisateur en 2022), l&rsquo;Allemagne, le Danemark, la France et la Belgique en Europe et le Br&eacute;sil pour l&rsquo;Am&eacute;rique du Sud.
  br
  br
  h3 Comment les pays participent aux qualifications de la coupe du monde?
  p(style='font-size: 1.1rem;')
    | L&rsquo;
    strong Afrique
    |  est le continent ayant le plus grand nombre d&rsquo;&eacute;quipes : 54 
    strong f&eacute;d&eacute;rations
    |  pour 5 &eacute;quipes participantes au tournoi final. C&rsquo;est souvent consid&eacute;r&eacute; comme une injustice par les africains puisque ces &eacute;quipes ont de bons joueurs qui &eacute;voluent en 
    a(href='Europe.php') Europe
    |  et qui participent &agrave; la 
    a(href='https://www.uefa.com/uefachampionsleague/') ligue europ&eacute;enne des champions
    | .
    |     Pour participer &agrave; la coupe du monde, certains pays africains doivent traverser trois tours de 
    strong qualifications
    | . Le premier tour concerne les &eacute;quipes (28 en tout) les mal class&eacute;es dans 
    a(href='https://www.fifa.com/fifa-world-ranking/men?dateId=id13471')
      | l&rsquo;indice 
      strong FIFA
    | .
    |     Les 14 &eacute;quipes qui sont qualifi&eacute;es pour le second tour via le tour pr&eacute;c&eacute;dant seront associ&eacute;es &agrave; 26 autres pays afin de former 10 groupes de 4 &eacute;quipes au second tour.
    |     Pour participer au troisi&egrave;me tour, il faudra &ecirc;tre la premi&egrave;re de son groupe. Les 10 premi&egrave;res &eacute;quipes du second groupe devront participer &agrave; deux matchs en 
    a(href='https://alvin-almazov.com/soccer-eng/home-and-away/') aller/retour
    | . Ce qui veut dire que chaque pays qualifi&eacute; pour le troisi&egrave;me tour rencontrera un seul pays ; le vainqueur ira repr&eacute;senter continent africain.
  br
  br
  h3
    | Participation aux rencontres de qualifications des grands pays pour la coupe du monde
  p(style='font-size: 1.1rem;')
    | Dans les grands pays (
    a(href='https://en.wikipedia.org/wiki/Cameroon_national_football_team') Cameroun
    | , 
    a(href='https://en.wikipedia.org/wiki/Egypt_national_football_team') &Eacute;gypte
    | , 
    a(href='https://en.wikipedia.org/wiki/Nigeria_national_football_team')  Nig&eacute;ria 
    | , 
    a(href='https://en.wikipedia.org/wiki/Morocco_national_football_team')  Maroc 
    | , 
    a(href='https://en.wikipedia.org/wiki/Algeria_national_football_team')  Alg&eacute;rie 
    | ,
    a(href='https://en.wikipedia.org/wiki/Ivory_Coast_national_football_team')  C&ocirc;te d&rsquo;ivoire 
    | , 
    a(href='https://en.wikipedia.org/wiki/Senegal_national_football_team')  S&eacute;n&eacute;gal 
    | , &mldr;) footballeurs du continent africain, il y a beaucoup de passion avant, pendant et apr&egrave;s une rencontre sportive. Ces pays ne vont plus pour simplement participer, ils veulent aller le plus loin possible. En fait, ils veulent 
    a(href='https://www.foxsports.com/soccer/fifa-world-cup/history')  gagner 
    |  cette fameuse coupe du monde. Pour rappel, beaucoup de pays 
    a(href='Europe.php') europ&eacute;ens
    |  ont des joueurs d&rsquo;origine africaine dans leurs &eacute;quipes. Et les pays africains n&rsquo;ont pas souvent de bons r&eacute;sultats en coupe du monde parce qu&rsquo;ils sont mal organis&eacute;s ou mal pr&eacute;par&eacute;s.
    |     Ci-dessous, les &eacute;quipes qui ont particip&eacute; &agrave; la deuxi&egrave;me phase qualificative :
    |     Le groupe A: l&rsquo;Alg&eacute;rie, le Burkina Faso, le Niger, et Djibouti.
    |     Le groupe B: la Tunisie, la Guin&eacute;e &eacute;quatoriale, la Zambie et la Mauritanie.
    |     Le groupe C:  le Nigeria, le Cap-Vert, le Liberia et la R&eacute;publique centrafricaine.
    |     Le groupe D:  le Cameroun, la C&ocirc;te d&rsquo;Ivoire, le Mozambique et le Malawi.
    |     Le groupe E:  le Mali, l&apos;Ouganda, le Kenya et le Rwanda.
    |     Le groupe F:  l&apos;&Eacute;gypte, le Gabon, la Libye et l&apos;Angola.
    |     Le groupe G:  le Ghana, l&apos;Afrique du Sud, l&apos;&Eacute;thiopie et le Zimbabwe.
    |     Le groupe H:  le S&eacute;n&eacute;gal, le Togo, la Namibie et le Congo.
    |     Le groupe I:  le Maroc, la Guin&eacute;e-Bissau, la Guin&eacute;e et le Soudan.
    |     Le groupe J:  la R&eacute;publique D&eacute;mocratique du Congo, le B&eacute;nin, la Tanzanie et Madagascar.
    |     Dans cette liste, le premier pays de chaque groupe est pr&eacute;sentement qualifi&eacute; pour la prochaine &eacute;tape qui sera cruciale pour aller en coupe du monde.
  br
  br
  h3 Comment devient-on un footballeur en Afrique? 
  p(style='font-size: 1.1rem;')
    | La plupart des joueurs africains commencent &agrave; taper sur un ballon dans la rue ou dans les cours des maisons d&rsquo;habitation; on peut dire que les 
    strong qualifications
    |  passent par la rue. Ensuite, certaines rencontres sportives des jeunes enfants sont organis&eacute;es dans des quartiers. Les meilleurs de ces jeunes peuvent &ecirc;tre s&eacute;lectionn&eacute;s dans des &eacute;quipes &eacute;coles ou dans les &eacute;coles sportives africaines ou europ&eacute;ennes. Quelques ann&eacute;es plus-tard, ces jeunes enfants feront partie des &eacute;quipes qui pr&eacute;tendront &agrave; une place pour une 
    strong coupe du monde de football
    | . Dans tous les cas, c&rsquo;est l&rsquo;
    strong Afrique
    |  qui gagne.
    |     Vivement, que le continent africain soit repr&eacute;sent&eacute; par ses meilleures &eacute;quipes afin de pr&eacute;tendre au couronnement suppr&ecirc;me.

include footer.