include menu

head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Coupe du Monde, qualifications des pays américains')
  style.
  title  Qualifications en Am&eacute;rique 
.container.text-justify
  h1.text-center  Les qualifications pour la Coupe du Monde dans les Am&eacute;riques 
  br
  br
  h2 Les f&eacute;d&eacute;rations am&eacute;ricaines
  p(style='font-size: 1.2rem;')
    | Malgr&eacute; la domination 
    a(href='./Europe.php')  Europ&eacute;enne 
    |  de l&rsquo;&egrave;re moderne, 
    strong les Am&eacute;riques
    |  (plus particuli&egrave;rement 
    a(href='https://en.wikipedia.org/wiki/CONMEBOL')  l&rsquo;Am&eacute;rique du Sud 
    | ) sont reconnues comme des superpuissances de 
    a(href='https://en.wikipedia.org/wiki/Association_football')  soccer 
    | . En effet, le 
    a(href='https://en.wikipedia.org/wiki/Brazilian_Football_Confederation')  Br&eacute;sil 
    |  est le pays le plus titr&eacute; de l&rsquo;histoire de la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
    |  avec 5 
    strong championnats
    |  (1958, 1962, 1970, 1994 et 2002) et 
    a(href='https://en.wikipedia.org/wiki/Argentine_Football_Association')  l&rsquo;Argentine 
    | , avec ces 2 victoires (1978 et 1986). 
    |       Les qualifications de la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
      |  de la FIFA
    |  au 
    a(href='https://www.fifa.com/tournaments/mens/worldcup/qatar2022')  Qatar en 2022 
    |  offre 4.5 places pour les &eacute;quipes d&apos;Am&eacute;rique du Sud (
    a(href='https://en.wikipedia.org/wiki/CONMEBOL')
      strong CONMEBOL
    | ) et 3.5 pour la f&eacute;d&eacute;ration Nord-Am&eacute;ricaine de soccer (
    a(href='https://en.wikipedia.org/wiki/CONCACAF')
      strong  CONCACAF 
    | ). Deux 
    strong tournois de qualifications 
    |       s&eacute;par&eacute;s sont ainsi disput&eacute; en vue de la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
    | .
  br
  br
  h2  CONMEBOL: CONfederacion SudaMEricana de FutBOL
  .col-md-12
    a(href='https://en.wikipedia.org/wiki/CONMEBOL')
      img.pull-left.m-3.pb-3(src='./images/CONMEBOL.png' alt='CONMEBOL')
  p(style='font-size: 1.2rem;')
    | D&apos;un c&ocirc;t&eacute;, le 
    strong CONMEBOL
    |  (CONfederacion SudaMEricana de FutBOL) d&eacute;limite ses repr&eacute;sentants lors d&apos;un simple 
    strong tournoi &agrave; la ronde
    |  de 10 &eacute;quipes ou les quatre meilleures &eacute;quipes se qualifient automatiquement et la 
    |       cinqui&egrave;me avancera au tournoi 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup_qualification#Intercontinental_play-offs')  inter-conf&eacute;d&eacute;ration 
    |  pour la derni&egrave;re place disponible.
  br
  br
  br
  h2
    | CONCACAF: Conf&eacute;d&eacute;ration de football d&apos;Am&eacute;rique du Nord, d&apos;Am&eacute;rique centrale et des Cara&iuml;bes
  .col-md-12
    a(href='https://en.wikipedia.org/wiki/CONCACAF')
      img.pull-left.m-3.pb-3(src='./images/CONCACAF.png' alt='CONCACAF')
  p(style='font-size: 1.2rem;')
    | Du c&ocirc;t&eacute; de l&apos;h&eacute;misph&egrave;re nord, la 
    strong  CONCACAF 
    |  (Conf&eacute;d&eacute;ration de football d&apos;Am&eacute;rique du Nord,
    |      d&apos;Am&eacute;rique centrale et des Cara&iuml;bes) pr&eacute;sente un 
    strong tournoi
    |  en 3 &eacute;tapes. Premi&egrave;rement, les 6 meilleurs 
    strong &eacute;quipes
    |  s&apos;affrontent dans 
    a(href='https://en.wikipedia.org/wiki/Hexagonal_(CONCACAF)#:~:text=In%20association%20football%2C%20the%20term,six%20remaining%20teams%20in%20CONCACAF')  &quot;l&apos;Hexagone&quot; 
    |  et les 3 meilleurs &eacute;quipes se qualifient automatiquement, la quatri&egrave;me affrontera le gagnant d&apos;un tournoi
    |      impliquant les 29 autres &eacute;quipes sous 
    strong 8 groupes
    |  pour s&apos;assurer une place dans le 
    strong tournoi inter-conf&eacute;d&eacute;ration
    | .

 
include footer