include menu


head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Coupe du Monde, qualifications des pays asiatiques')
  style.
  title  Qualifications Asie 
.container.text-justify
  h1.text-center  Les qualifications pour la Coupe du Monde en Asie
  br
  br
  .col-md-12
    a(href='https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_qualification_(AFC)')
      img.pull-left.m-3.pb-3(src='./images/AFC_Asian_Qualifiers.png' alt='AFC qualifications zone Asie')
  h2.text-center  AFC (f&eacute;d&eacute;ration asiatique de football)
  br
  br
  p(style='font-size: 1.2rem;')
    a(href='https://en.wikipedia.org/wiki/Asian_Football_Confederation')  L&rsquo;Asie 
    | , historiquement, n&rsquo;est pas une superpuissance de 
    a(href='https://en.wikipedia.org/wiki/Football')
      | football 
      a
        | au m&ecirc;me titre que 
        a(href='./Europe.php')  l&apos;Europe 
        |  ou 
        a(href='./Amerique.php')
          | l&apos;Am&eacute;rique du Sud 
          a
            | , n&rsquo;ayant d&rsquo;ailleurs jamais remport&eacute; 
            a(href='https://www.si.com/soccer/2018/06/11/world-cup-winners-list-past-history-champions-final')  le titre 
            | . Cependant, la Cor&eacute;e du Sud lors lors du 
            a(href='https://en.wikipedia.org/wiki/2002_FIFA_World_Cup')  tournoi de 2002 
            |  pr&eacute;sent&eacute; sur leur territoire (en coop&eacute;ration avec le Japon) fini quatri&egrave;me &agrave; l&rsquo;issue d&rsquo;un 
            strong tournoi
            |  malheureusement terni 
            a(href='https://www.youtube.com/watch?v=z0cVcuhzekY')  par des all&eacute;gations de corruption et un scandale de match-fixing.
  .col-md-12
    a(href='https://www.espn.com/soccer/league/_/name/fifa.worldq.afc')
      img.pull-left.m-3.pb-3(src='./images/Son.jpg' alt='Heung-Min Son')
  h2.text-center  Qualifications dans la zone Asie
  br
  br
  p(style='font-size: 1.2rem;')
    | La 
    strong f&eacute;d&eacute;ration asiatique de football
    |  (
    a(href='https://en.wikipedia.org/wiki/Asian_Football_Confederation')  l&apos;AFC 
    | ) desservant le plus gros continent du monde, autant en population qu&apos;en superficie, b&eacute;n&eacute;ficie que d&apos;une maigre 4.5(4 places en qualifications et une place inter-conf&eacute;d&eacute;ration) places de 
    strong qualifications
    |  pour la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
    a(href='https://www.fifa.com/tournaments/mens/worldcup/qatar2022')  qatari de 2022 
    | . Le Qatar &eacute;tant le pays h&ocirc;te cependant, il b&eacute;n&eacute;ficie d&apos;une qualification automatique pour la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup#Final_tournament')  ronde finale 
    | . Le 
    strong tournoi
    |  est structur&eacute; sous 4 rondes. Une 
    strong ronde pr&eacute;liminaire
    |  incluant les &eacute;quipes class&eacute;es de 
    a(href='https://www.fifa.com/fifa-world-ranking/men?dateId=id13471')  35e &agrave; 46e pour 
    |  ressortir 6 pays en vue de la deuxi&egrave;me ronde. Celle-ci inclue les 40 meilleures 
    strong &eacute;quipes
    |  du continent, soit 8 groupes de 5 &eacute;quipes qui s&apos;affrontent en 
    a(href='https://en.wikipedia.org/wiki/Round-robin_tournament')  tournoi &agrave; la ronde 
    | . &Agrave; l&apos;issue de la deuxi&egrave;me ronde, les 8 
    strong gagnants
    |  des groupes et les 4 meilleurs deuxi&egrave;mes se qualifieront pour le troisi&egrave;me tour. Ces douze 
    strong &eacute;quipes
    |  s&apos;affronteront sur 2 groupes et les 2 meilleurs &eacute;quipes de chaque groupe se qualifient. Les 2 troisi&egrave;mes sont finalement envoy&eacute; dans un 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup_qualification#Intercontinental_play-offs')  tournoi inter-conf&eacute;d&eacute;ration 
    |  pour la derni&egrave;re place disponible.

include footer