include menu

head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Coupe du Monde, qualifications des pays européens')
  style.
  title  Qualifications Europe 
.container.text-justify
  h1.text-center  Les qualifications pour la Coupe du Monde en Europe
  br
  br
  .col-md-12
    a(href='https://www.uefa.com/')
      img.pull-left.m-3.pb-3(src='./images/UEFA.jpg' alt='UEFA')
  h2.text-center  L&apos;UEFA:Union of European Football Associations
  br
  br
  p(style='font-size: 1.2rem;')
    a(href='https://en.wikipedia.org/wiki/England_national_football_team')  L&apos;Angleterre 
    |      &eacute;tant consid&eacute;r&eacute; comme le 
    a(href='https://en.wikipedia.org/wiki/History_of_association_football')
      | berceau du 
      strong soccer
    |      organis&eacute; lors de la cr&eacute;ation en 1863 de la FA (
    a(href='https://www.thefa.com/')  Football Association 
    | ), 
    |      il est &eacute;vident qu&apos;il est impossible de traiter de la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
    |      sans parler des superpuissances du 
    strong &lsquo;foot&rsquo;
    a(href='https://www.uefa.com/european-qualifiers/')  Europ&eacute;enne 
    | . 
    |      Le vieux continent est en effet la r&eacute;gion avec le plus de pays victorieux, incluant 12 
    strong championnats
    |  (4 en 
    a(href='https://en.wikipedia.org/wiki/Germany_national_football_team')  Allemagne 
    |      et 
    a(href='https://en.wikipedia.org/wiki/Italy_national_football_team')  Italie 
    | , 2 en 
    a(href='https://en.wikipedia.org/wiki/France_national_football_team')
      | France 
      a
        | , 1 en 
        a(href='https://en.wikipedia.org/wiki/England_national_football_team')  Angleterre 
        |  et en 
        a(href='https://en.wikipedia.org/wiki/Spain_national_football_team')  Espagne
        | ). La supr&eacute;matie des g&eacute;ants Europ&eacute;en est d&rsquo;autant plus palpable lors de 2 derni&egrave;res d&eacute;cennies, remportant les grands honneurs des 
        a(href='https://www.foxsports.com/soccer/fifa-world-cup/history')  4 derni&egrave;res &eacute;ditions 
        | .
  br
  br
  h2.text-center  Qualifications en Europe
  p(style='font-size: 1.2rem;')
    | Il en va de soi que sortir de la 
    strong qualification
    |  dans 
    a(href='https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_qualification_(UEFA)')  cette r&eacute;gion 
    |  est un d&eacute;fi d&apos;autant plus laborieux. Seulement 13 pays obtiendront leurs laisser-passer pour la phase finale au 
    a(href='https://www.fifa.com/tournaments/mens/worldcup/qatar2022')
      strong Qatar
      |  en d&eacute;cembre 2022
    |  et ce sur les 55 pays membre de 
    strong l&apos;UEFA
    |  (
    a(href='https://www.uefa.com/')  Union of European Football Associations 
    | ). Les 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup_qualification')  qualifications 
    |  comportent ainsi en premi&egrave;re phase un 
    strong tournoi &agrave; la ronde
    |  incluant 5 groupes de 5 &eacute;quipes et 5 groupes de 6 &eacute;quipes. Les gagnants des 10 
    strong groupes
    |  sont automatiquement qualifi&eacute;s pour la 
    a(href='https://en.wikipedia.org/wiki/FIFA_World_Cup')
      strong  Coupe du Monde 
    |  et les 10 deuxi&egrave;mes de chaque groupe ainsi que les 2 meilleures &eacute;quipes de la 
    a(href='https://en.wikipedia.org/wiki/UEFA_Nations_League')  Coupe des Nations 
    | , rentrent dans un mini-tournoi &agrave; 
    strong simple &eacute;limination
    |  pour qualifier les 3 derni&egrave;res &eacute;quipes.

include footer