
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
footer.container.footer-dark(style='background-color:#8ce48c;')
  div(style='background-color:ccffff;')
    .row
      .col-sm-12.col-lg-3
        h5 Conf&eacute;d&eacute;rations
        ul
          li
            a(href='/Afrique') Afrique
          li
            a(href='/Amerique') Am&eacute;rique
          li
            a(href='/Asie') Asie
          li
            a(href='/Europe') Europe
      .col-sm-12.col-lg-3
        h5 &Agrave; propos
        ul
          li
            a(href='/Historique') Historique
      .col-sm-12.col-lg-6
        h5 O&ugrave; nous trouver
        p  9999 rue de la Mer, St Jean
        a(href='#')
          img.card-img-top(src='./images/ballons.jpg' alt='logo' style='width:100px;height:50px;')
      p.copyright Beno&icirc;t Robichaud et Bertin Mouya Madi &copy; 2022
