include menu

doctype html
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
	body
		h1="Hi "+username
		form(action="/logout?_method=DELETE" method="POST")
			button(type="submit") Log Out

include footer