
doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet' href='./css/appli.css')
    script(src="./ValidationMotDePasse.js")

  body
    h1 Créer un compte

    -if(messages.error) {
      | #{messages.error}
    -}

    div(class="password_Validation")
      h3(style="color: red;")=error
      form(id="formRegister" class="password_Validation" method="POST" action="/register")
        div
          label( for="input_user" class="label_form") Nom d'utilisateur: 
          input(type="string" name="username" id="input_user" class="form-control" placeholder="Nom d'utilisateur" required autofocus)
        br
        div
          label(for="input_password" class="label_form") Mot de passe: 
          input(type="password" name="password" id="input_password" class="password" placeholder="Mot de passe" required)
          p(class="error" id="error")
        br
        div
          button(type="button" onClick="validatePassword('input_password','error','formRegister')") Créer mon compte
      div
        <a href="/login">Login</a>
