.password_Validation {
    background-color: aliceblue;
    padding: 50px;
    border: 1px solid;
    border-radius: 5px;
}

#passwordText {
    color: green;
}

.error {
    color: red;
}

.password {
    margin-bottom: 5px;
}

.label_form {
    font-weight: bold;
}